USE [menistream]
GO
/****** Object:  StoredProcedure [menistream].[cardDefineList_Kr]    Script Date: 04/05/2015 10:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [menistream].[cardDefineList_Kr]
AS BEGIN
SELECT * FROM cardDefineTbl_Kr
END
GO
